
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./docker-utils:/docker-entrypoint-initdb.d
      - test_api_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongodata:/data/db

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - cache:/data
    command: redis-server --loglevel warning
